<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Ajout Ressource</title>
</head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<body>


	<div class="container">

		<h2 class="bg-primary text-white">Ajout</h2>

		<form action="ajoutCategorie" method="post">
			<div class="">
				
				<div>
					<label for="nom">Nom:</label><input type="text" name="nom" class="form-control"></input>
				</div>
				<div>
					<label for="salaire">Salaire:</label><input type="number" name="salaire" class="form-control"></input>
				</div>
				<div>
					<input type="submit" name="enregistrer" class="btn btn-default"></input>
				</div>
			</div>
		</form>

	</div>
</body>
</html>